registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/dist
chromedriver-cdnurl=https://npmmirror.com/mirrors/chromedriver
electron-mirror=https://npmmirror.com/mirrors/electron/
node-inspector-cdnurl=https://npmmirror.com/mirrors/node-inspector
operadriver-cdnurl=https://npmmirror.com/mirrors/operadriver
phantomjs-cdnurl=https://npmmirror.com/mirrors/phantomjs
sass-binary-site=https://npmmirror.com/mirrors/node-sass
selenium-cdnurl=https://npmmirror.com/mirrors/selenium
sqlite3-binary-site=https://npmmirror.com/mirrors/sqlite3
puppeteer-download-host=https://npmmirror.com/mirrors
sharp-binary-host=https://npmmirror.com/mirrors/sharp
# 如需使用本地代理，取消注释并修改以下配置
# proxy=http://127.0.0.1:7890
# https-proxy=http://127.0.0.1:7890